<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.discoveryagentrest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />
    
	<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/mediascape"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.discoveryagentrest.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.example.discoveryagentrest.ServiceBoot" android:exported="false">
            <intent-filter>
                <action android:name="com.example.discoveryagentrest.ServiceBoot.MyService">
            </action></intent-filter>
        </service>
        <service android:name="com.example.discoveryagentrest.BluetoothService" android:exported="false">
            <intent-filter>
                <action android:name="com.example.discoveryagentrest.BluetoothService.MyService">
            </action></intent-filter>
        </service>
		<service android:name="com.example.discoveryagentrest.BrowserUpnpService" android:exported="false">
			<intent-filter>
                <action android:name="com.example.discoveryagentrest.BrowserUpnpService.MyService">
            </action></intent-filter>
        </service>
        <receiver android:name="com.example.discoveryagentrest.ReceiverBoot">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED">
                <category android:name="android.intent.category.HOME">
            </category></action></intent-filter>
        </receiver>
    </application>
</manifest>
